recursive-include swane/licenses *.txt
recursive-include swane/resources/icons *
recursive-include swane/resources/atlas *
exclude .gitignore
exclude .spyproject
exclude makerealease.sh
exclude pyarmor
exclude dist
exclude venv
#exclude release
exclude build
exclude SWANe.spec
exclude swane.spec
